---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
    <div class="uab">
        <a href="https://www.uab.cat/"> 
        <img src="../assets/img/uab_logo.png">
        </a>
    </div>
    <div class="escola">
        <a href="http://webedit.uab.cat/web/escola-d-enginyeria-1345737380065.html">
        <img src="../assets/img/escola_logo.jpg">
        </a>
    </div>

  <h2 class="user-title">Contributors</h2>
 <div class="multipleusers">
 	<div class="userbox">
        	<div class="author_info">
        	</div>
        	<div class="author_image">
          		<a href="https://dvd42.github.io/"><img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Contributor_3 image"></a>
        	</div>
        	<div class="author_info">
          		<div>
	         		<a href="https://dvd42.github.io/"><p class="author_subtitle">Diego Velazquez</p></a>
          		</div>
        	</div>
    	</div>
    	<div class="userbox">
        	<div class="author_info">
        	</div>
        	<div class="author_image">
          		<a href="https://www.linkedin.com/in/laura-planas/"><img src="{{site.baseurl}}/assets/img/laura.jpg" alt="Contributor_1 image"></a>
        	</div>
        	<div class="author_info">
          		<div>
	         		<a href="https://www.linkedin.com/in/laura-planas/"><p class="author_subtitle">Laura Planas</p></a>
          		</div>
        	</div>
    	</div>
    	<div class="userbox">
        	<div class="author_info">
        	</div>
        	<div class="author_image">
          		<a href="https://www.linkedin.com/in/jaume-estany"><img src="{{site.baseurl}}/assets/img/jaume.jpeg" alt="Contributor_2 image"></a>
        	</div>
        	<div class="author_info">
          		<div>
	         		<a href="https://www.linkedin.com/in/jaume-estany"><p class="author_subtitle">Jaume Estany</p></a>
          		</div>
        	</div>
    	</div>
      <div class="userbox">
          <div class="author_info">
          </div>
          <div class="author_image">
              <a href="https://www.linkedin.com/in/ferran-rodriguez-mir"><img src="{{site.baseurl}}/assets/img/ferran.jpg" alt="Contributor_3 image"></a>
          </div>
          <div class="author_info">
              <div>
              <a href="https://www.linkedin.com/in/ferran-rodriguez-mir"><p class="author_subtitle">Ferran Rodríguez</p></a>
              </div>
          </div>
      </div>
      <div class ="userbox">
        <div class="author_info"></div>
        <div class="author_image">
          <a href="https://www.linkedin.com/in/eric-lozano-ferriz/">
            <img src="{{site.baseurl}}/assets/img/Eric.jpg" alt="Contributor_4 image">
          </a>
        </div>
        <div class="author_info">
          <div>
            <a href="https://www.linkedin.com/in/eric-lozano-ferriz/">
              <p class="author_subtitle">Eric Lozano</p>
            </a>
          </div>
        </div>
      </div>
</div>
        
	    <hr>

   <h2 class="user-title"> Advisors </h2>
	<div class="multipleusers">
 		<div class="userbox"> 
			<div class="author_info">
        		</div>
			<div class="author_image">
				<a href="https://es.linkedin.com/in/lopoal"><img src=../assets/img/jordi.jpg alt="Jordi Poal"></a>
	  		</div>
        		<div class="author_info">
	  			<div>
					<a href="https://es.linkedin.com/in/lopoal"><p class="author_subtitle"> Jordi Gonzalez</p></a>
          			</div>
        		</div>
		</div>
		<div class="userbox">
			<div class="author_info">
        		</div>
			<div class="author_image">
          			<a href="https://es.linkedin.com/in/pau-rodr%C3%ADguez-l%C3%B3pez-5786a154"><img src=../assets/img/pau.jpeg alt="Pau Rodriguez"></a>
			</div>
			<div class="author_info">
	  			<div>
           				<a href="https://es.linkedin.com/in/pau-rodr%C3%ADguez-l%C3%B3pez-5786a154"><p class="author_subtitle"> Pau Rodríguez </p></a>
			        </div>
        		</div>
      		</div>
	</div> 
	
	<hr>
       <h2 class="user-title">Admins</h2>
	<div class="multipleusers">
 		<div class="userbox">
       			<div class="author_info">
        		</div>
			<div class="author_image">
           			<a href="https://dvd42.github.io/"><img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image"></a></a>
        		</div>
        		<div class="author_info">
          			<div>
		  			<a href="https://dvd42.github.io/"><p class="author_subtitle">Diego Velazquez</p></a>
          			</div>
        		</div>
		</div>
		<div class="userbox">
        		<div class="author_info">
        		</div>
	    		<div class="author_image">
				<a href="https://es.linkedin.com/in/lopoal"><img src=../assets/img/jordi.jpg alt="Jordi Poal"></a>
	  		</div>
	  		<div class="author_info">
				<div>
	  				<a href="https://es.linkedin.com/in/lopoal"><p class="author_subtitle"> Jordi Gonzalez</p></a>
				</div>
          		</div>
        	</div>
	</div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section img>
