---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}La croix godard blue bottle, vape iceland fingerstache cronut single-origin coffee lyft snackwave normcore small batch.{% endif %}</p>
          <p class="author_subtitle"> My name is Porapa หรือ Popa อายุก็ 20 (ปลายๆ) แล้วค่ะ มีอาชีพเป็น พี่เลี้ยงเด็ก ช่างสักคิ้ว สักตัว ต่อขนตา รับงานอีเว้น ฟรีแลนซ์ บลาๆ แต่หยุดทุกอย่างแล้วมาเริ่มเขียนบล็อกเพราะคุณแฟนอยากจะเที่ยวรอบโลก เลยเป็นความโชคดีของชะนีนางนี้ที่จะได้ติดสอยห้อยตามไปด้วย ถามว่าแล้วไม่ทำงานหรอ? เนื่องจากคุณแฟนทำงานผ่านเน็ต นางจะทำงานที่ไหนก็ได้บนโลกใบนี้ขอแค่มีอินเตอร์เน็ต เราก็เลยต้องผันตัวมาทำงานบนหน้าจอด้วย และตกลงกันว่าจะทำงานไปด้วยและเที่ยวไปด้วยสักระยะหนึ่ง เลยเป็นที่มาของคำว่า “ไม่ใช่แค่เที่ยว แต่มันคือการใช้ชีวิต” ซึ่งเราจะเที่ยวหรือใช้ชีวิตอยู่ในแต่ละประเทศอย่างน้อย 2 อาทิตย์ ถึง 1 เดือน (หรือแล้วแต่วีซ่าจะให้อยู่) เพราะไม่ต้องเดินทางบ่อยๆจะได้ไม่เหนื่อยมาก อีกทั้งยังจะได้เข้าถึงการใช้ชีวิตและสัมผัสวัฒนธรรมของแต่ละประเทศนั้นๆอีกด้วย โดยเริ่มเขียนบล็อคนี้ขึ้นมาเพื่ออยากจะบันทึกเรื่องราวการเดินทางของตัวเอง เป็นเหมือนไดอารี่สาธารณะ ถ้าผิดพลาดประการใด ต้องขออภัยมา ณ ที่นี้ด้วยค่า
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
