---
layout: default
title: categories
permalink: /categories/
---

{% include header.html %}

<script src="{{ base.url | prepend: site.url }}/assets/js/categories.js"></script>

<section id="categories">

	<h1>Post Categories</h1>
	

	<div class="category-buttons">
		{% for category in site.categories %}
			{% assign category_name = category[0] %}
			<button id="{{category_name}}-button" onclick="switch_visibility('{{category_name}}')">
				<h2>{{category_name}}</h2>
			</button>
		{% endfor %}
	</div>

	<div class="grid-container">

		{% for category in site.categories %}

			{% assign category_name = category[0] %}
			{% assign posts = category[1] %}
				
			{% for post in posts %}

				<div class="{{category_name}}-post" style="display: block;">
					<div class="grid-item">
						<a href="{{ post.url }}">
							<img src="../assets/img/{{ post.img }}">
						</a>
					</div>
				</div>

			{% endfor %}

		{% endfor %}
	</div>

</section>
