---
layout: default
title: categories
permalink: /categories/
---

{% include header.html %}

<script src="{{ base.url | prepend: site.url }}/assets/js/categories.js"></script>

<section id="categories">

	<div id="categories-filter">

		<div id="categories-title">
			<h2>Categories</h2>
		</div>

		{% for category in site.categories %}
			{% assign category_name = category[0] %}
			{% capture category_id %}{{ category_name | split: ' ' | join: '_' }}{% endcapture %}
			{% if category == site.categories.first %}
				<button id="{{category_id}}-button" class="filter-button" onclick="switch_visibility('{{category_id}}')" style="background-color: #FF3591; color: black; border: 1px solid #FF3591;">
					<h3>{{category_name}}</h3>
				</button>
			{% else %}
				<button id="{{category_id}}-button" class="filter-button" onclick="switch_visibility('{{category_id}}')">
					<h3>{{category_name}}</h3>
				</button>
			{% endif %}
		{% endfor %}

	</div>

	{% for category in site.categories %}

		{% assign category_name = category[0] %}
		{% capture category_id %}{{ category_name | split: ' ' | join: '_' }}{% endcapture %}
		{% assign posts = category[1] %}

		<div class="category">

			{% if category == site.categories.first %}
				<div id="{{category_id}}-posts" class="posts" style="display: block;">
			{% else %}
				<div id="{{category_id}}-posts" class="posts">
			{% endif %}
				
				{% for post in posts %}
				<div class="post">
					<a href="{{post.url}}" style="text-decoration: none;">
						<div class="post-grid-container">
							<div class="post-image"><img src="../assets/img/{{post.img}}"></div>
							<div class="post-title"><h3>{{post.title}}</h3></div>
							<div class="post-author">{{post.author-name}}</div>
							<div class="post-date">{{post.date | date_to_string}}</div>
							<div class="post-tags">
								{% for tag in post.tags %}
									<div class="tag">{{tag}}</div>
								{% endfor %}
							</div>
						</div>
					</a>
				</div>
				{% endfor %}

			</div>

		</div>

		

	{% endfor %}

</section>

{% include footer.html %}