
<footer class="main_footer">
    <div class="logo-links">
        <a href="https://www.uab.cat/"> 
            <img src="../assets/img/uab_logo.png">
        </a>

        <a href="http://webedit.uab.cat/web/escola-d-enginyeria-1345737380065.html">
            <img src="../assets/img/escola_logo.jpg">
        </a>

        <a href="http://www.cvc.uab.es/?lang=es"> 
            <img src="../assets/img/cvc_logo.jpg">
        </a>
    </div>

    <div class="wrapper">
        {% include social_footer.html %}
        <div class="copyright">
          <p>&copy; {{site.time | date: '%Y'}} All rights reserved. Design by <a href="https://artemsheludko.github.io" target="_blank">Artem Sheludko</a></p>
      </div>
  </div>
</footer> <!-- End Section Footer -->
