
<script src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.vide.min.js"></script>
<script src="{{site.baseurl}}/assets/js/custom.js"></script>
<script src="{{site.baseurl}}/assets/js/english-thai-toggle.js"></script>
<script type="text/javascript">
  function toEnglish() {
    var englishDivs = document.getElementsByClassName("english");
    var thaiDivs = document.getElementsByClassName("thai");
    for(var i = 0; i < englishDivs.length; i++) {
      englishDivs[i].classList.remove("hide");
    }
    for(var j = 0; j < thaiDivs.length; j++) {
      thaiDivs[j].classList.add("hide");
    }
  }

  function toThai() {
    var thaiDivs = document.getElementsByClassName("thai");
    var englishDivs = document.getElementsByClassName("english");

    for(var j = 0; j < thaiDivs.length; j++) {
      thaiDivs[j].classList.remove("hide");
    }

    for(var i = 0; i < englishDivs.length; i++) {
      englishDivs[i].classList.add("hide");
    }
  }
</script>
<!-- End Javascript -->
