---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_description">
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      <h1 class="post_title">{{page.date | date: '%Y, %b %d'}}</h1>
      <h1 class="post_title">{{page.title}}</h1>
      {{page.content | markdownify}}
    </div>
    
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>Share:</span>
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if page.author-pic %}{{ page.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if page.author-name %}{{page.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
        <p class="author_subtitle">{% if page.about-author %}{{page.about-author}}{% else %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endif %}</p>
        <div class="author_social">
          {% if page.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{page.email}}">{{page.email}}</a></span>
          {% endif %}
          
          {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% endif %}
          {% if page.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{page.website}}" target="_blank">{{page.website}}</a></span>
          {% endif %}            
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  {% include disqus.html %}
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
